In [6]:
import pandas as pd

df = pd.read_csv('germany_city_data.csv')

df.head()

,population_rank,city_id,city_name,longitude,latitude,state_id,image_url,geom
0,c001,Berlin,Berlin,13.4050,52.5200,Berlin,https://raw.githubusercontent.com/Prasadmadhus...,NaN
1,c002,Hamburg,Hamburg,9.9937,53.5511,Hamburg,https://raw.githubusercontent.com/Prasadmadhus...,NaN
2,c003,Munich,Munich,11.5820,48.1351,Bavaria,https://raw.githubusercontent.com/Prasadmadhus...,NaN
3,c004,Colonge,Colonge,6.9603,50.9375,North_Rhine-Westphalia,https://raw.githubusercontent.com/Prasadmadhus...,NaN
4,c005,Frankfurt_am_Main,Frankfurt am Main,8.6821,50.1109,Hesse,https://raw.githubusercontent.com/Prasadmadhus...,NaN

In [7]:
print(df.columns)

Index(['population_rank', 'city_id', 'city_name', 'longitude', 'latitude',
       'state_id', 'image_url', 'geom'],
      dtype='object')

In [8]:
df['geom'] = 'SRID=4326;POINT(' + df['longitude'].astype(str) + ' ' + df['latitude'].astype(str) + ')'
df.head()

,population_rank,city_id,city_name,longitude,latitude,state_id,image_url,geom
0,c001,Berlin,Berlin,13.4050,52.5200,Berlin,https://raw.githubusercontent.com/Prasadmadhus...,SRID=4326;POINT(13.405 52.52)
1,c002,Hamburg,Hamburg,9.9937,53.5511,Hamburg,https://raw.githubusercontent.com/Prasadmadhus...,SRID=4326;POINT(9.9937 53.5511)
2,c003,Munich,Munich,11.5820,48.1351,Bavaria,https://raw.githubusercontent.com/Prasadmadhus...,SRID=4326;POINT(11.582 48.1351)
3,c004,Colonge,Colonge,6.9603,50.9375,North_Rhine-Westphalia,https://raw.githubusercontent.com/Prasadmadhus...,SRID=4326;POINT(6.9603 50.9375)
4,c005,Frankfurt_am_Main,Frankfurt am Main,8.6821,50.1109,Hesse,https://raw.githubusercontent.com/Prasadmadhus...,SRID=4326;POINT(8.6821 50.1109)

In [9]:
df = df.drop(columns=['population_rank', 'longitude', 'latitude'])

df.head()

,city_id,city_name,state_id,image_url,geom
0,Berlin,Berlin,Berlin,https://raw.githubusercontent.com/Prasadmadhus...,SRID=4326;POINT(13.405 52.52)
1,Hamburg,Hamburg,Hamburg,https://raw.githubusercontent.com/Prasadmadhus...,SRID=4326;POINT(9.9937 53.5511)
2,Munich,Munich,Bavaria,https://raw.githubusercontent.com/Prasadmadhus...,SRID=4326;POINT(11.582 48.1351)
3,Colonge,Colonge,North_Rhine-Westphalia,https://raw.githubusercontent.com/Prasadmadhus...,SRID=4326;POINT(6.9603 50.9375)
4,Frankfurt_am_Main,Frankfurt am Main,Hesse,https://raw.githubusercontent.com/Prasadmadhus...,SRID=4326;POINT(8.6821 50.1109)

In [10]:
df.to_csv('germany_city_data.txt', sep='\t', index=False, header=False, encoding='utf-8')